
  
input[type=text], 
input[type=password] { 
    width: 100%; 
    padding: 12px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    box-sizing: border-box;
    size: 20px; 

    border-radius: 50px;
} 
/*set a style for the buttons*/ 
  
button { 
    background-color:rgb(230, 235, 240); 
    color: black; 
    size: 20px; 
    padding: 8px 12px; 
    margin: 8px 0; 
    border: none; 
    cursor: pointer; 
    width: 100%; 
    border-radius: 50px;
} 
/* set a hover effect for the button*/ 
  

  
.container { 
    padding: 14px; 
} 
/*set the forgot password text*/ 
  

/*set styles for span and cancel button on small screens*/ 
  
@media screen and (max-width: 700px) {
  
    form { 
        display: block; 
        float: none; 
    } 
    
} 

.round-shape {
 
  width: 40%;
  height: 90%
}

#t1
{
  background-color:lightgrey;
  
  padding: 0.5px 16px;
}
span
{
  float:right;
}
.jumbotron{
  width : 350px;

  background-image: url("src\assets\image\form.jpg");
  position:relative;
  background-size: cover;
  
}
h4{
  text-align: CENTER;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}

a
{
  color: black;
}



