<div  class="jumbotron  " >
    <h4>LOGIN</h4>
  <form [formGroup]="loginForm" (ngSubmit)="Validate()">
      <div class="form-group">
           <label ><span class="glyphicon glyphicon-user">ID</span></label>

           
          <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">ID is required</div>
          </div> 
         
      </div>
      <div class="form-group">
          <label><span class="glyphicon glyphicon-lock">Password</span></label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
      </div>
      <div class="form-group">
        Buyer  <input type="radio" formControlName="role"  value="buyer" name="role" />&nbsp;
        Seller  <input type="radio" formControlName="role"  value="seller" name="role" />

      </div>
  <div class="text-center">

      <button  type="submit" (click)="onSubmit()" id=b2>Login</button>
      <button  type="reset" (click)="onReset()" id=b2>Reset</button>
      
  </div>


  <div class="text-center"> 
      <a [routerLink]="['/registerbuyer']">Register Buyer/</a>
         
      <a [routerLink]="['/registerseller']">Register Seller</a>
</div>
  </form>
</div>

