
<div class="row">
  <div class="col-lg-3">


</div>


<div class="col-lg-9">
 <br><br>
<div class="container">
<div class='bold-line'></div>
      <div class='window'>
        <div class='overlay'></div>
        <div class='content'>
          <div class='welcome'>Your Profile</div>
          <form [formGroup]="itemForm">

            <table >
              <tr>
                <td>
                  <label>ID</label>
                  <input type="text" formControlName="sellerId" placeholder="Enter ID" class="form-control input-line full-width" [ngClass]="{ 'is-invalid': submitted && f.sellerId.errors }" />
                  
                </td>  &nbsp;&nbsp;&nbsp;&nbsp;

                <td>
                  <label>NAME</label>
                  <input type="text" formControlName="userName" placeholder="Enter Name" class="form-control input-line full-width" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                  
                </td>


                
              </tr>

              <tr>
                <td>
                  <label>Password</label>
                  <input type="password" formControlName="password" placeholder="Enter Password" class="form-control input-line full-width" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                   
                </td>&nbsp;&nbsp;&nbsp;

                <td>
                  <label>EMAIL</label>
                  <input type="text" formControlName="emailId" placeholder="Enter Email" class="form-control input-line full-width" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
                 
                </td>
              </tr>


              <tr>
                <td>
                  <label>MOBILE</label>
                  <input type="text" formControlName="mobileNo" placeholder="Enter Mobile Number" class="form-control input-line full-width" [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }" />
                  
                </td>&nbsp;&nbsp;&nbsp;

                <td> 
                  <label>Company Name</label>
                  <input type="text" formControlName="companyName" placeholder="Enter Company Name" class="form-control input-line full-width" [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }" />
                  
                </td>
              </tr>


              <tr>
                <td>
                  <label>Address</label>
                  <input type="text" formControlName="postalAddress" placeholder="Enter Address" class="form-control input-line full-width" [ngClass]="{ 'is-invalid': submitted && f.postalAddress.errors }" />
                  
                </td>&nbsp;&nbsp;&nbsp;

                <td>
                  <label>GSTIN</label>
                  <input type="text" formControlName="gstin" placeholder="Enter GstIn" class="form-control input-line full-width" [ngClass]="{ 'is-invalid': submitted && f.gstin.errors }" />
                  
                </td>
              </tr>

              <tr>
                <td>
                  <label>BriefDetails</label>
                  <input type="text" formControlName="briefDetails" placeholder="Enter Brief Details" class="form-control input-line full-width" [ngClass]="{ 'is-invalid': submitted && f.briefDetails.errors }" />
                
                </td>

                
                
              </tr>
<td>
  <button class="ghost-round full-width" type="button" (click)="EditProfile()">EditProfile</button>
</td>
              <tr>

              </tr>
            </table>
           
          </form>
        </div>
      </div>
    </div>


</div></div>