<!-- <form [formGroup]="itemForm" >
    <div class="container py-5">  
      <h3 class="text-center text-uppercase">Purchase History</h3>  
      <table class="table table-bordered table-striped">  
          <thead>  
              <tr class="text-center text-uppercase">  
                  
                  <th>SellerId</th> 
                  <th>CategoryId</th> 
                  
                  <th>SubcategoryId</th>
                  <th>ItemID</th>  
                  <th>ItemName</th>  
                  <th>Image</th>  
                  <th>Description</th> 
                  <th>Price</th>   
                  <th>StockNumber</th>  
                
                    
                  <th>Remarks</th> 
                 
              </tr>  
          </thead>  
          <tbody>  
            <tr *ngFor="let item of itemlist"> 
              <td>{{item.sellerId}}</td>  
              <td>{{item.categoryId}}</td> 
              <td>{{item.subcategoryId}}</td> 
              <td>{{item.itemId}}</td>  
              <td>{{item.itemName}}</td> 
              <td>{{item.image}}</td> 
              <td>{{item.description}}</td>
              <td>{{item.price}}</td>  
                
              <td>{{item.stockNumber}}</td> 
          
           
              
                
              <td>{{item.remarks}}</td>  
              <td> <button class='btn btn-danger' (click)="DeleteItem(item.itemId)">Delete</button> </td>
              <!-- <td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"(click)="UpdateItem()">Edit</button></td>
               -->
              <!-- <td><button class="btn btn-primary btn-lg  mr-1" (click)="GetItem(item.itemId)" data-toggle="modal" data-target="#myModal">Edit</button></td>
              
            </tr>  
          </tbody>  
        </table>  
      </div>  
    </form>
  
  
      -->