
<div class="b1">
    
    <div class="topnav">
       <a> <div id="i1"> <b>EMart</b> </div></a>        
       <a [routerLink]="['/home/login']"  id="r" ><i class="fa fa-fw fa-user"></i>Login</a>
       
                                                                                          



       
         <a class="active"  [routerLink]="['/home']" id="r"><i class="fa fa-fw fa-home" ></i>Home</a>
        
  
  </div>
  
  <div class="row">
    <br>
    <br>
  </div>
  
  <div class="container-fluid">
        
  
  <div class="row">
    <div class="col-lg-7">
       
      </div>
    

  <div class="col-lg-2">
      
  <router-outlet></router-outlet>  
    </div>  
  
  
  </div>
  </div>
  </div>
