#form
{
    width : 800px;
    background: -webkit-linear-gradient(rgb(89, 223, 129), rgb(156, 238, 187));
    background: linear-gradient(rgb(94, 184, 109), rgb(184, 221, 193));
    
    /* background-image: url("src/assets/image/log.jpg");  */
    position:relative;
    background-size: cover;
    
  }

  img
  {
    height: 80px;
    width: 100px;
  }